<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--Always remember to change the web config to your own! -Dan G-->
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
 

  <!-- Remember to modify to your own connection used in SQL everytime you use this!-->
  <connectionStrings>
    <!-- Ruffy's Connection -->
    <!--<add name="con" connectionString="SERVER=BYTEJUMPER; DATABASE=ThesisDB; Integrated Security=sspi;" />
    <add name="Rikka" connectionString="SERVER=BYTEJUMPER; DATABASE=ThesisDB; Integrated Security=sspi;" />-->

    <!-- Dan's Connection -->
    <!--<add name="Rikka" connectionString="SERVER=PUREDETORU; DATABASE=ThesisDB; UID=sa; PWD=1166;"/>
    <add name="con" connectionString="SERVER=PUREDETORU; DATABASE=ThesisDB; UID=sa; PWD=1166;"/>-->
    
    <!-- Kai's Connection -->
    <add name="Rikka" connectionString="SERVER=KAI-PC\KAIPC;DATABASE=ThesisDB; UID=sa; PWD=benilde;"/>
    <add name="con" connectionString="SERVER=KAI-PC\KAIPC;DATABASE=ThesisDB; UID=sa; PWD=benilde;"/>

    <!-- Nate's Connection  
    
    <add name="Rikka" connectionString="SERVER=DESKTOP-HLP534A\ASUS;DATABASE=ThesisDB; UID=sa; PWD=Cheese;" /> 
    <add name="con" connectionString="SERVER=DESKTOP-HLP534A\ASUS;DATABASE=ThesisDB; UID=sa; PWD=Cheese;" /> -->
 
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    <defaultDocument enabled="true">
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
    </system.webServer>
  
  
</configuration>
