<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--Always remember to change the web config to your own! -Dan G-->
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="Rikka" connectionString="Server=PUREDETORU; Database=ThesisDB; UID=sa; PWD=1166;"/>
    <add name="con" connectionString="Server=PUREDETORU; Database=ThesisDB; UID=sa; PWD=1166;"/>
    
  </connectionStrings>
  
  

</configuration>
